html {
  background-color: #c2ceda;
  margin: 0;
  padding: 0;
}

#container {
  border: 5px solid black;
  height: 45vh;
  width: 35vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: minimax(100px, auto) repeat(5, 80px);
  background-color: #41484d;
}

button {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 2em;
}

#display {
  border: 1px solid black;
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #8e9ca4;
  font-size: 2em;
  padding-right: 10px;
}

.clear {
  border: 1px solid black;
  width: 100%;
}

.zero {
  grid-column: 1 / 3;
}

.dark {
  background-color: #4797b8;
}

.dark:active {
  background-color: #7eabbe;
}

.light {
  background-color: #e98047;
}

.light:active {
  background-color: #e69b73;
}
